@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@font-face {
  font-family: NeoSans;
  src: url("../fonts/neosans-black.woff");
  font-weight: bold;
}
.visible-xs {
  display: block;
}
@media (min-width: 48rem) and (max-width: 79.9375rem) {
  .visible-xs {
    display: none;
  }
}
@media (min-width: 80rem) {
  .visible-xs {
    display: none;
  }
}

.visible-md {
  display: none;
}
@media (min-width: 48rem) and (max-width: 79.9375rem) {
  .visible-md {
    display: block !important;
  }
}

.visible-lg {
  display: none;
}
@media (min-width: 80rem) {
  .visible-lg {
    display: block !important;
  }
}

a, a:hover {
  transition: all 0.3s ease;
}

.logo {
  position: absolute;
  font-family: NeoSans;
  text-transform: uppercase;
  z-index: 13;
}
@media (min-width: 48rem) {
  .logo {
    position: relative;
  }
}
.logo img {
  width: 60px;
  border-radius: 30px;
  margin-right: 10px;
}
@media (min-width: 48rem) {
  .logo img {
    width: 60px;
    border-radius: 30px;
    margin-right: 20px;
  }
}
.logo a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background: linear-gradient(to bottom, #fff, #f6ede9 45%, #ccc6c5 60%, #b6b3b5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo span {
  font-size: 2rem;
}

header {
  height: 100px;
  padding: 20px;
  line-height: 60px;
  box-sizing: border-box;
  position: relative;
}
header.withBackground {
  background: url("../img/header.jpg");
  background-position: center center;
  background-size: cover;
}
@media (min-width: 48rem) {
  header {
    height: 100px;
    padding: 20px 50px;
    line-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header.fixed {
    height: 100px;
    padding: 20px 50px;
    line-height: 60px;
    background: url("../img/header.jpg");
    background-position: center center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: height 0.3s ease;
    box-shadow: 0 0 20px #000;
    z-index: 11;
  }
  header.fixed ~ main .teaser {
    margin-top: 0;
  }
  header.fixed ~ main .content:first-child {
    padding-top: 100px;
  }
}
header i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/header-xs.jpg");
  background-size: cover;
  z-index: 12;
}
@media (min-width: 48rem) {
  header i {
    display: none;
  }
}
header input {
  z-index: 14;
  width: 43px;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 30px;
  opacity: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
@media (min-width: 48rem) {
  header input {
    display: none;
  }
}
header .burger {
  position: absolute;
  width: 33px;
  height: 30px;
  right: 20px;
  top: 35px;
  z-index: 13;
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  header .burger {
    display: none;
  }
}
header .burger span {
  width: 100%;
  height: 4px;
  margin: 3px 0;
  background: #fff;
  border-radius: 2px;
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
header input:checked ~ .burger span:first-child {
  transform: rotate(45deg) translate(7px, 7px);
}
header input:checked ~ .burger span:nth-child(2) {
  opacity: 0;
}
header input:checked ~ .burger span:last-child {
  transform: rotate(-45deg) translate(7px, -7px);
}
header input:checked ~ nav ul {
  top: 100px;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 1.1rem;
  background: #000;
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  z-index: 11;
  align-items: stretch;
  box-sizing: border-box;
  transition: top 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
@media (min-width: 48rem) {
  nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 15px;
    height: 40px;
    background: rgba(40, 103, 111, 0.5);
    line-height: 40px;
    border-radius: 30px;
    position: relative;
    top: auto;
    left: auto;
  }
}
nav ul a {
  display: block;
  text-decoration: none;
  padding: 0 10px;
  color: #fff;
}
nav ul a:hover {
  color: #fff;
}

nav:hover a {
  color: rgba(255, 255, 255, 0.6);
}

body, html, #__next, .wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Nunito, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content p a {
  color: #36c988;
  text-decoration: underline;
}
.content p a:hover {
  background: #36c988;
  color: #fff;
  text-decoration: none;
}

@keyframes blinker {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ccc;
  }
}
.teaser {
  display: none;
}
@media (min-width: 48rem) {
  .teaser {
    height: 80vh;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .teaser p {
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    padding: 0 20px;
  }
  .teaser p span::after {
    content: "";
    border-right: 2px solid #cccccc;
    animation: blinker 1s step-end infinite;
  }
  .teaser p span.active::after {
    animation: none;
  }
}

.content {
  background: #ffffff;
  margin: 30px 30px;
  z-index: 5;
}
@media (min-width: 80rem) {
  .content {
    margin: 0px auto 30px;
    width: 60%;
  }
}
.content > h1, .content > .header-area > h1 {
  font-family: NeoSans;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 0 0.5rem;
}
@media (min-width: 48rem) and (max-width: 79.9375rem) {
  .content > h1, .content > .header-area > h1 {
    margin: 1rem 0 0.5rem;
  }
}
@media (min-width: 80rem) {
  .content > h1, .content > .header-area > h1 {
    margin: 2.5rem 0 0.5rem;
  }
}

.banner {
  z-index: 10;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  background: transparent;
}

.banner > div {
  width: 100%;
  z-index: 10;
  margin: 0 0 -30px;
}
.banner > div img {
  border-radius: 10px;
  width: 100%;
}
@media (min-width: 48rem) {
  .banner > div {
    margin: 10px 0 -90px;
    width: 500px;
    height: 100px;
  }
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}
@media (min-width: 80rem) {
  .grid {
    column-gap: 2rem;
    row-gap: 2rem;
  }
}

.cols {
  display: flex;
  flex-direction: row;
}

.rows {
  display: flex;
  flex-direction: column;
}

article {
  grid-column-start: 1;
  grid-column-end: span col-2;
  display: flex;
}
@media (min-width: 48rem) {
  article {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}
article h1 a {
  color: #111111;
  text-decoration: underline;
}
article h1 a:hover {
  color: #ffffff;
  background: #36c988;
  text-decoration: none;
}
article h1 {
  font-size: 1.3rem;
}
article p {
  font-size: 0.9rem;
  margin: 0;
}
article img {
  width: 100%;
}
article .img {
  flex-basis: 30%;
}
article .img a {
  position: relative;
  display: block;
}
article .img.video a::before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
}
article .img.video a::after {
  font-family: FontAwesome;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 64px;
  margin: -32px 0 0 -32px;
  color: #666;
}
article .right {
  flex-basis: 70%;
  margin-left: 10px;
}
article .tags {
  list-style-type: none;
  margin: 10px -5px 0;
  padding: 0;
  flex-grow: 1;
  align-items: baseline;
  flex-wrap: wrap;
}
article .tags a {
  padding: 3px 7px;
  margin: 5px;
  text-decoration: none;
  border-radius: 4px;
  font-family: Nunito;
  font-size: 0.9rem;
  opacity: 0.75;
  white-space: nowrap;
}
article .tags a:hover {
  opacity: 1;
}
article .date {
  margin: 10px 0 0;
  font-size: 0.8rem;
  color: #999;
  flex-grow: 1;
  text-align: right;
}

a.red, .filter button.red {
  background: #EE0000;
  color: #fff;
}
a.green, .filter button.green {
  background: #36c988;
  color: #fff;
}
a.purple, .filter button.purple {
  background: #362066;
  color: #fff;
}
a.yellow, .filter button.yellow {
  background: #fec21e;
  color: #fff;
}
a.orange, .filter button.orange {
  background: #f05e22;
  color: #fff;
}
a.blue, .filter button.blue {
  background: #004ca3;
  color: #fff;
}

.filter {
  display: flex;
  margin: 0 -5px 0 -30px;
  padding: 0 0 0 25px;
  flex-grow: 1;
  align-items: baseline;
  flex-wrap: wrap;
  position: relative;
}
.filter::before {
  position: absolute;
  top: 4px;
  left: 0;
  content: "";
  width: 30px;
  font-family: FontAwesome;
  font-size: 1.5rem;
}
.filter button {
  padding: 3px 7px;
  margin: 5px;
  border-radius: 4px;
  font-family: Nunito;
  font-size: 0.9rem;
  opacity: 0.75;
  white-space: nowrap;
  border: 0;
  cursor: pointer;
  background: #ddd;
  color: #333;
}
.filter button:hover, .filter button.selected {
  opacity: 1;
}
.filter button:focus {
  outline: 0;
}

.alternating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.alternating:last-of-type {
  margin-bottom: 0;
}
.alternating h2 {
  font-family: Nunito, sans-serif;
  font-size: 2.2rem;
  text-transform: none;
  font-weight: normal;
  margin: 1.5rem 0 0.5rem;
}
@media (min-width: 48rem) {
  .alternating {
    flex-direction: row;
    margin: 0 auto;
  }
  .alternating:first-child {
    margin-top: 0;
  }
  .alternating:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right;
  }
  .alternating:nth-child(odd) .text {
    padding: 0 50px 0 0;
  }
  .alternating > div {
    flex-basis: 50%;
    box-sizing: border-box;
  }
}
.alternating img {
  width: 100%;
}
.alternating .text {
  display: flex;
  padding: 30px;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .alternating .text {
    padding: 0 0 0 50px;
    justify-content: center;
  }
}
.alternating p {
  padding: 1rem 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  line-height: 2rem;
}

.blog {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: auto;
}
.blog h1, .blog h2 {
  font-family: Nunito, sans-serif;
  font-size: 2.5rem;
  text-transform: none;
  font-weight: normal;
  margin: 2.5rem 0 0.5rem;
}
.blog h2 {
  font-size: 2.2rem;
  margin: 1.5rem 0 0.5rem;
}
.blog a {
  color: #36c988;
  text-decoration: underline;
}
.blog a:hover {
  background: #36c988;
  color: #fff;
  text-decoration: none;
}
.blog ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.blog ul.info {
  font-size: 0.9rem;
}
.blog ul.info > li:not(:last-child):after {
  content: "·";
  padding: 0 5px;
  display: inline-block;
}
.blog ul.tags li {
  margin: 0 5px 0 0;
}
.blog p {
  margin: 1rem 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  line-height: 2rem;
}
.blog p code {
  color: #0000e6;
  background: #eeeeee;
  padding: 0 5px;
}
.blog p em {
  font-style: italic;
  color: #0000e6;
}
.blog .code {
  position: relative;
  margin: 1rem 0;
}
.blog .code pre {
  margin: 0;
}
.blog .code textarea {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.blog .code a {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 30px;
  background: #0078d7;
  color: #fff;
  content: "Copy";
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 1rem;
  font-family: Nunito, sans-serif;
}
.blog figure {
  margin: 1rem 0;
}
.blog .dots {
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  letter-spacing: 1rem;
  text-align: center;
  margin: 0.5rem 0 1.5rem;
}
.blog .dots::after {
  width: 100%;
  content: "...";
}

.fullscreen-bg {
  display: none;
}
@media (min-width: 48rem) {
  .fullscreen-bg {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
    z-index: -1;
  }
  .fullscreen-bg .video {
    width: 100%;
    height: 100%;
  }
  .fullscreen-bg video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -999;
    object-fit: cover;
  }
  .fullscreen-bg i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    background: url("../img/overlay.png");
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  background: url("../img/footer-xs.jpg");
  background-size: cover;
  background-position: center center;
}
@media (min-width: 48rem) and (max-width: 79.9375rem) {
  footer {
    height: 300px;
    background-image: url("../img/footer-sm.jpg");
  }
}
@media (min-width: 80rem) {
  footer {
    height: 300px;
    background-image: url("../img/footer.jpg");
  }
}
footer h2 {
  font-family: NeoSans, sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin: 50px 0;
  z-index: 1;
}
footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: -10px 0;
  padding: 0;
}
footer ul a {
  display: flex;
  background: #666;
  border-radius: 24px;
  transition: none !important;
  -webkit-transition: none !important;
}
footer ul a.twitter:hover {
  background: #00acee;
}
footer ul a.youtube:hover {
  background: #ff0000;
}
footer ul a.medium:hover {
  background: #12100e;
}
footer ul a.linkedin:hover {
  background: #0e76a8;
}
footer ul a.github:hover {
  background: #1B1F23;
}
footer ul a.fcc:hover {
  background: #0a0a23;
}
footer ul li {
  padding: 10px;
}
footer ul img {
  height: 48px;
}
footer p {
  color: #ddd;
  margin: 50px 0;
}

.twitter h1 a {
  color: #111111;
  text-decoration: underline;
}
.twitter h1 a:hover {
  color: #ffffff;
  background: #36c988;
  text-decoration: none;
}

.cheatsheet.content {
  width: 80%;
}
.cheatsheet code {
  white-space: pre-line;
}
.cheatsheet .code {
  width: 40%;
}
.cheatsheet.js-frameworks .code {
  width: 25%;
}
.cheatsheet .example {
  background: #d2f8d2;
  margin-top: 10px;
}
.cheatsheet .desc {
  width: 20%;
}
.cheatsheet table {
  width: 100%;
  margin: 0 -10px;
}
.cheatsheet td {
  vertical-align: top;
  width: 30%;
}
.cheatsheet td:last-child {
  vertical-align: middle;
  width: 10%;
}

/*# sourceMappingURL=main.css.map */
