.cheatsheet
    .code
        width: 40%
    
    .desc
        width: 20%

    table
        width: 100%
        margin: 0 -10px

    td
        vertical-align: top

        &:last-child
            vertical-align: middle